*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
.home{
    background-color: rgb(128, 89, 89);
    width: 80vh;
    height: 100vh;
    text-align: center;
    border: 10px solid red;
margin: 0 auto;
}
.home img{
    width: 60vh;
    margin-top: 20px;
}
.home h4{
    font-size: 4rem;
    text-align: center;
    color: rgb(140, 140, 190);
}
p{
  color: black;
  text-shadow: 0 0 20px rgb(79, 0, 0);
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 10px;
}
a{
    font-size: 1.8rem;
    color: black;
}